@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  .overlay {
    background: rgb(255, 255, 255);
    background: linear-gradient(
      120deg,
      rgba(255, 255, 255, 1) 5%,
      rgba(255, 255, 255, 0.09287464985994398) 100%
    );
  }
  .about-overlay {
    background: rgb(186, 12, 47);
    background: linear-gradient(
      90deg,
      rgba(186, 12, 47, 0.7679446778711485) 6%,
      rgba(152, 3, 11, 1) 100%
    );
  }
}

.ant-menu-item-selected {
  font-weight: 600 !important;
}
.slick-dots-bottom button {
  background: gray !important;
}

li.slick-active button {
  background: #ba0c2f !important;
}

.ant-carousel .center .slick-list {
  overflow: unset;
  overflow-x: clip !important;
}
.center .slick-track {
  display: flex !important;
  gap: 1rem;
}

.center .slick-center {
  transform: scaleY(1.1);
}
.center .slick-dots-bottom {
  bottom: -60px !important;
}
